
body {
    background-color: #6A2BC2;
    font-family: "montserrat", sans-serif;

}

header {
    display: block;
    flex-direction: row;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #6A2BC2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.left-nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    
}

.right-nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    
}

.right-nav ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.right-nav ul li {
    display: inline;
    padding: 10px;    
}

.right-nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.hero-section {
    padding: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6A2BC2;
    gap: 20px;
    flex-grow: 1;
}

.hero-description {
    border: 20px solid transparent;
    flex: 1 300px;
    padding: 40px;
    box-sizing: border-box;
}

.hero-description h2 {
    color: white;
    font-size: 2.5em;
}

.hero-description p {
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
}

.hero-description a {
    display: inline-block;
    margin-top: 20px;
}

.hero-description a img {
    width: 150px;
    height: auto;
}

.hero-image {
    display: inline;
    border: 20px solid transparent;
    flex: 1 300px;

}

.hero-image img {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}



.features-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: -25px -25px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

h2 .featured {
    display: block;
    text-align: center;
    font-size: 1.6em;
    background-color: #ffffff;
    margin: -25px -25px;
    padding: 50px;
   

}


.feature-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    text-align: justify;
    flex-wrap: wrap;
    flex-shrink: 1;
}


.feature-info img{
    width: 100%;
    border-radius: 10px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 200px;
    background-color: #c8a3fc;
    margin: -25px -25px;
}

blockquote {
    display: flex;
    flex-direction: row;
    font-size: 2em;
    font-weight: 100;
    width: 50%;
    font-style: italic;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.quote-section p {
    text-align: right;
    margin-right: 400px;
    font-weight: bold;
    font-size: 1.9em;
}

.call-to-action-section {
    display: flex;
    min-height: 500px;
    height: 100%;
    background-color: #ffffff;
    margin: -25px -25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    flex: 1 1 auto;
    
    

}

.cta-box {
    display: flex;
    background-color: #6A2BC2;
    border-radius: 10px;
    display: flex;
    height: 50%
    
  
   
}

.cta-description {
    justify-content: left;
    align-items: left;
    width: 900px;
    color: white;
    padding: 50px;
    
}

.cta-description p {
    width: 700px;
}

.cta-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;


    
}

.cta-button img {
    width: 150px;
    height: auto;
}


footer {
    background-color: #6A2BC2;
    margin: -25px -25px;
    color: white;
    text-align: center;
    padding: 25px;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color: rgb(223, 89, 171);
}

footer a:active {
    color: red;
}

