body {
    background-color: #6A2BC2;
    /* padding: 24px; */
}

header {
    display: block;
    flex-direction: row;
    padding-left: 90px;
    padding-right: 90px;
    /* border: 2px solid #ffffff; */
    background-color: #6A2BC2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.left-nav {
    /* border: 2px solid #ffffff; */
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    
}

.right-nav {
    /* border: 2px solid #ffffff; */
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    
}

.right-nav ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.right-nav ul li {
    display: inline;
    padding: 10px;    
}

.right-nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.hero-section {
    /* border: 2px solid #ffffff; */
    padding: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6A2BC2;
    gap: 20px;
    flex-grow: 1;
}

.hero-description {
    border: 20px solid transparent;
    /* width: 100vh; */
    flex: 1 300px;
    padding: 40px;
    box-sizing: border-box;
}

.hero-description h2 {
    color: white;
    font-size: 2.5em;
}

.hero-description p {
    color: white;
    font-size: 1.2em;
    margin-top: 20px;
}

.hero-description a {
    display: inline-block;
    margin-top: 20px;
}

.hero-description a img {
    width: 150px;
    height: auto;
}

.hero-image {
    display: inline;
    border: 20px solid transparent;;
    /* width: 100vh; */
    flex: 1 300px;

}

.hero-image img {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}



.features-section {
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    gap: 40px;
    height: 500px;
    /* padding: 100px; */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin: -25px -25px;
}

h2 .featured {
    display: block;
    /* align-items: center;
    justify-content: center; */
    text-align: center;
    font-size: 1.6em;
    background-color: #ffffff;
    /* padding: 14px; */
    margin: -25px -25px;
    padding: 50px;
   

}


.feature-info {
    max-width: 300px;
}


.feature-info img{
    width: 300px;
    border-radius: 10px;
}
